@import '../node_modules/mini.css/dist/mini-default.min.css';

html {
    --text-color: white;
}

html, body, #root {
    height: 100%;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 23%);
    color: hsl(0, 0%, 100%);
    text-align: center;
    color: var(--text-color);
}

#error-container {
    width: 100%;
    height: 100%;
    background-color: black;
}

#error-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.dynamic-menu-holder {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 0.5em
}

.dynamic-menu-element {
    border-radius: 1em;
    width: 50em;
    background-color: hsl(0, 0%, 19%);
    color: var(--text-color);
    transition: 0.2s ease;
    padding: 0.2em;
}

.dynamic-menu-element:hover {
    box-shadow: 0.3em 0.3em hsla(0, 0%, 57%, 0.552);
}
